/**
 * DESENVOLVIDO POR ADAM ALMEIDA
 * PROCESSO TROC
 **/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;

    font-family: 'Ubuntu', sans-serif;
}

/** HELPER BORDER RADIUS **/
.radius{
    border-radius: 10px;
}

.ds_none{
    display: none !important;
}

/** FADE IN PAGE **/

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}

@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 0.5s ease-in-out;
    -moz-animation: fadeIn  0.5s ease-in-out;
    -o-animation: fadeIn  0.5s ease-in-out;
    animation: fadeIn  0.5s ease-in-out;
}

/** SHOW MESSAGE **/

.message{
    max-width: 1000px;
    height: 50px;
    padding: 0 20px;
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.message-success{
    background-color: rgb(125, 255, 125);
    border: 1px solid #1e9400;
    color: darkgreen;
}

.message-info{
    background-color: rgb(125, 207, 255);
    border: 1px solid #004594;
    color: rgb(0, 40, 100);

}

.message-warning{
    background-color: rgb(255, 251, 174);
    border: 1px solid #eed600;
    color: rgb(100, 82, 0);
}

.message-error {
    background-color: rgb(255, 125, 125);
    border: 1px solid #ee0000;
    color: rgb(100, 0, 0);

}
